body {
	margin: 0;
}

.glavna-navigacija {
	background-color: pink;
}

.glavna-sekcija {
	margin: 30px auto;
	text-align: center;
	height: 400px;
	width: 250px;
	border: 3px solid lightblue;
}

.choose h1 {
	color: lightblue;
}

.choose h2 {
	color: orange;
}

span {
	font-weight: bold;
	color: black;
	font-size: 20px;
}

.glavna-sekcija .tekst {
	font-style: italic;
	color: grey;
}

ul {
	list-style-type: none;
}

p {
	color: grey;
	font-family: "Times New Roman";
}

h1, h2 {
	font-family: "Arial"
}

hr {
	width: 180px;
}

.end {
	margin: 0 auto;
}
.end h1 {
	display: inline-block;
	padding: 15px;
	background-color: lightblue;
	color: white
}